<ion-header>

   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button menu="menu-content"></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
   </ion-toolbar>
</ion-header>

<ion-card>
   <ion-item>
      <ion-avatar slot="start">
         <img src="../../assets/ProyectorCine1.jpg" alt="photo">
      </ion-avatar>
      <ion-label>
         <h3>Cinema</h3>
         <p>Oct 29, 2022</p>
      </ion-label>
      <ion-icon slot="end" name="globe"></ion-icon>
   </ion-item>
   <img src="../../assets/CartelCine.jpg" alt="header-photo" />
   <ion-card-header>
      <ion-card-title>Films</ion-card-title>
      <ion-card-subtitle>Cinema is a painted mirror</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
      If it can be written or thought, it can be filmed.
   </ion-card-content>

   <ion-footer>
      <ion-grid>
         <ion-row>
            <ion-col>
               <ion-icon name="thumbs-up"></ion-icon>
               <div>2.0K Likes</div>
            </ion-col>
            <ion-col>
               <ion-icon name="text"></ion-icon>
               <div class="wrap-text">20 comments</div>
            </ion-col>
            <ion-col>
               <ion-icon name="time"></ion-icon>
               <div>20h ago</div>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-footer>
</ion-card>

<ion-card>
   <ion-card-header>
      <ion-card-title> Cine is our passion</ion-card-title>
         </ion-card-header>

         <ion-card-content>
            While the people still figting we are watching
         </ion-card-content>
</ion-card>

